:root {
  --main: #ee1005;
  --secondary: #000000;
  --white: #ffffff;
  --text: #b9b9b9;
  --bg: #4f4350;
}

@font-face {
  font-family: Arcade;
  src: url('/src/fonts/ka1.ttf');
}
@font-face {
  font-family: Pokemon;
  src: url('/src/fonts/Pokemon_Classic.ttf');
}

@font-face {
  font-family: Pokemon-hollow;
  src: url('/src/fonts/Pokemon_Hollow.ttf');
}
@font-face {
  font-family: Clasic;
  src: url('/src/fonts/Pokemon_Classic.ttf');
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: url("./assets/pika.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

button {
  font-family: Clasic;
}

select {
  font-family: Clasic;
}


.loading {
  background-image: url(./assets/n1582649.gif);
}

/* UserInput styles  */

.main-page-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
}

.name-container h2 {
  font-family: Clasic;
  font-size: 3rem;
}

.name-container p {
  font-family: Clasic;
  font-size: 2rem;
}

.name-container h1 {
  font-family: Pokemon-hollow;
  font-size: 10rem;
  margin: 0;
  color: var(--white);
}


.main-page-cont h2 {
  margin: 0;
  font-size: 2rem;
}
.main-page-cont p {
  margin: 0;
  margin-bottom: 30%;
}

.main-page-cont input {
  height: 100%;
  width: 80%;
}

.main-page-cont input::placeholder{
  font-family: Arcade;
}

.main-page-cont button {
  height: 100%;
  width: 20%;
  background: var(--main);
}

.input-container {
  height: 50px;
  width: 500px;
  display: flex;
  gap: 5px;
}

.name-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lines-cont {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 6;
}

.first-line {
  background: var(--main);
  height: 40%;
  border-bottom: solid 5px var(--bg);
}

.second-line {
  background: var(--white);
  height: 60%;
}

.line-ball {
  border-radius: 50%;
  border: solid 5px black;
  width: 80px;
  height: 80px;
  background: red;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 2px;
}


.wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translate( -50%);
  margin-bottom: 20px;
}



/* Pokeball styles */

/* Poké Styles */
.pokeball {
  position: absolute;
  top: 60%;
  right: 15%;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px 10px 0 10px #ccc;
  animation: fall .25s ease-in-out,
             shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
}

.pokeball::before,
.pokeball::after {
  content:"";
  position: absolute;
}
.pokeball::before {
  background: red;
  width: 100%;
  height: 50%;
}
.pokeball::after {
  top: calc(50% - 10px);
  width: 100%;
  height: 20px;
  background: #000;
}
.pokeball__button {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  background: #7f8c8d;
  border: 10px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 10px black;
  animation: blink .5s alternate 7;
}
/* Animation */
@keyframes blink {
  from { background: #eee;}
  to { background: #e74c3c; }
}
@keyframes shake {
  20% { transform: translate(-10px, 0) rotate(-20deg); }
  30% { transform: translate(10px, 0) rotate(20deg); }
  50% { transform: translate(-10px, 0) rotate(-10deg); }
  60% { transform: translate(10px, 0) rotate(10deg); }
  100% { transform: translate(0, 0) rotate(0); }
}
@keyframes fall {
  0% { top: -200px }
  60% { top: 0 }
  80% { top: -20px }
  100% { top: 0 }
}


/* Pokedex Styles */

.wrapper-2 {
  position: absolute;
  top: 10%;
  left: 30%;

  transform: translate( -50%);
  margin-bottom: 20px;
}

.wrapper-3 {
  position: absolute;
  top: 10%;
  right: 25%;

  transform: translate( -50%);
  margin-bottom: 20px;
}

.pokedex-main-container {
  background: black;
  color: white;
  height: 100%;
}

.pokedex-header {
  text-align: center;
}

.pokedex-header h1 {
  font-family: Arcade;
  font-size: 5rem;
}

.pokedex-header p {
  font-family: Clasic;
  font-size: 2rem;
}

.pokedex-header img {
  width: 400px;
  margin-top: 10px;
}

.pokedex-header b {
  color: var(--main);
}

.pokedex-btn-cont {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pokedex-btn-cont button:hover {
  cursor: pointer;
}

.pokedex-btn-pages {
  padding: 50px;

}

.pokedex-btn-pages button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0;
  font-size: 8px;
  margin: 5px;
}


.pokedex-btn-pages button:hover {
  background: var(--white);
  color: var(--main);
  border: solid 1px var(--main);
  cursor: pointer;
}

.pokedex-btn-cont-2 {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 100%;
  flex-wrap: wrap;

}

.pokedex-btn-cont-2 input {
  height: 100%;
  width: 500px;
  font-family: Arcade;
  text-align: center;
}

.pokedex-btn-cont-2 button {
  height: 100%;
  background: var(--main);
  border: solid 1px var(--white);
  margin-left: 5px;
}

.pokedex-btn-cont-2 button:hover {
  cursor: pointer;
  background: var(--white);
  border: solid 1px var(--main);
}

.pokedex-btn-cont-2 select {
  height: 100%;
  background: var(--main);
  border: solid 1px var(--white);
  margin-left: 90px;
}

.pokedex-btn-cont-2 select:hover {
  cursor: pointer;
  background: var(--white);
  border: solid 1px var(--main);
}

.pokedex-btn-cont-2 select button {
  border-radius: 20px;
  margin: 10px;
}

/* Card container */

.pokedex-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  gap: 20px;
  padding: 50px;
  height: auto;
  background: black;
}

.container-card {
  background: var(--white);
  position: relative;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Clasic;
  padding: 20px;
  border-radius: 15px;

}

.stats {
  text-align: center;
  font-size: 5rem;
  margin: 0;
  color: var(--main);
  font-family: Pokemon-hollow;
  text-transform: uppercase;
}

.abilities-cont {
  background: var(--white);
  border-radius: 15px;
  color: black;
  height: fit-content;
  text-transform: uppercase;
}



.title-abilities {
  font-family: Pokemon-hollow;
  text-align: center;
  font-size: 4rem;
  color: var(--main);
  margin: 0;
  padding: 0;
  filter: drop-shadow(5px 2px 4px #000);
}

.top-container-card {
  height: 40%;
  top: 0;
  width: 100%;
  background: red;
  position: absolute;
  z-index: 1;
  border-radius: 13px 13px 150px 150px;
}

.container-card {
  width: 100%;
}

.container-card h3 {
  font-family: Clasic;
  color: var(--white);
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 5%;
  z-index: 2;
  filter: drop-shadow(10px 5px 5px #000);
}

.types-flex {
  display: flex;
  gap: 20px;
  filter: drop-shadow(10px 5px 5px #000);
}

.types-flex span {
  padding: 10px;
  border-radius: 15px;
  color: var(--white);
}

.types-flex span:hover {
  color: var(--secondary);
  background: var(--white) !important;
}

.pokemon-card-stats {
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 5px;
  margin-bottom: 30px;
  text-align: center;
  background: var(--main);
  color: var(--white);
  padding: 15px;
  border-radius: 15px;
  filter: drop-shadow(10px 5px 5px #000);
  width: 100%;
}

.pokemon-card-stats-1 {
  margin-bottom: 10%;
  text-align: center;
  background: var(--main);
  color: var(--white);
  padding: 10%;
  width: fit-content;
  border-radius: 15px;
  
}

.pokemon-card-stats:hover {
  background: var(--secondary);
  color: var(--text);
  filter: drop-shadow(10px 5px 5px var(--text));
}

.container-card p {
  font-size: 20px;
  font-family: Arcade;
}

.pokemon-card-stats p {
  font-size: 12px;
  font-family: Clasic;
  padding: 5px;

}

.pokemon-card-stats button {
  width: fit-content;
}

.pokemon-card-stats button:hover {
  border: solid 1px var(--main);
  cursor: pointer;
  background: var(--text);
  color: var(--white);
}
.container-card img {
  margin-top: 40px;
  height: 200px;
  width: 200px;
  z-index: 2;
  filter: drop-shadow(10px 5px 5px #000);
}




/* Pokemon details */

.pokemon-detail-cont {
  display: grid;
  grid-template-columns: repeat(3, auto);
  color: #ffffff;
  padding: 50px;
  background: var(--secondary);
  padding-bottom: 15%;
}

.pokemon-detail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  color: var(--text);
  text-transform: uppercase;
  height: fit-content;
  width: 100%;
  border-radius: 15px;
  font-family: Clasic;
  padding: 10px;
}

.pokeball-smaller { 
  position: absolute;
  top: 5%;
  right: 0;
}

.pokemon-detail-card-img {
  background: var(--bg);
  width: 40%;
  height: 80%;
  text-align: center;
  border: solid 5px var(--main);
  border-radius: 15px;
}



.pokemon-detail-card-img img {
  margin: 30px;
  height: 300px;
  width: 300px;
}


.pokemon-detail-card-name h2 {
  border: solid 2px var(--bg);
  width: fit-content;
  padding: 7px;
  font-size: 2rem;
}

.pokemon-detail-card-name h3 {
  font-size: 4rem;
  margin: 0;
}

.pokemon-detail-card-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-detail-card-details {
  width: 100%;
}

.moves-container {
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-around;
}

.moves-container p  {
  padding: 10px;
  font-size: 10px;
  border-radius: 15px;
  font-family: Clasic;
  background: var(--text);
  color: var(--white);

}

.moves-container p:hover {
  color: var(--secondary);
  background: var(--white) !important;
}

.stats__container {
  width: 90%;
  margin: 15px;

}

.progress {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  background: var(--text);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}


.progress__fill {
  width: 0;
  height: 100%;
  background: var(--main);
  transition: all 0.9s;
}

.progress__text {
  position: absolute;
  top: 50%;
  left: 5px;
  color: black;
  transform: translateY(-50%);
  font-family: Clasic;

}

.title {
  text-align: center;
  font-size: 3rem;
}

.pokemon-moves {
  background: var(--white);
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
margin-bottom: 10%;
}

.pokemon-moves button {
  text-transform: uppercase;
  background: var(--text);
  border-radius: 15px;
  border: none;
  padding: 10px;
  height: 50px;
  width: 80%;
  font-size: 8px;
  color: var(--white);
  filter: drop-shadow(10px 5px 5px #000);
  overflow: hidden;
}

.pokemon-moves button:hover {
  color: var(--secondary);
  background: var(--white) !important;
}


.shadow-pop-tr {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/**
* ----------------------------------------
* animation shadow-pop-tr
* ----------------------------------------
*/
@-webkit-keyframes shadow-pop-tr {
0% {
  -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
          box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
100% {
  -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
          box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
  -webkit-transform: translateX(-8px) translateY(8px);
          transform: translateX(-8px) translateY(8px);
}
}
@keyframes shadow-pop-tr {
0% {
  -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
          box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}
100% {
  -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
          box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
  -webkit-transform: translateX(-8px) translateY(8px);
          transform: translateX(-8px) translateY(8px);
}
}


.rotate-center:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
          animation: rotate-center 0.6s ease-in-out both;
}


/**
* ----------------------------------------
* animation rotate-center
* ----------------------------------------
*/
@-webkit-keyframes rotate-center {
0% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}
@keyframes rotate-center {
0% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}


.tracking-in-expand {
-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}  

/**
* ----------------------------------------
* animation tracking-in-expand
* ----------------------------------------
*/
@-webkit-keyframes tracking-in-expand {
0% {
  letter-spacing: -0.5em;
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  opacity: 1;
}
}
@keyframes tracking-in-expand {
0% {
  letter-spacing: -0.5em;
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  opacity: 1;
}
}

.puff-in-br {
-webkit-animation: puff-in-br 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        animation: puff-in-br 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


/**
* ----------------------------------------
* animation puff-in-br
* ----------------------------------------
*/
@-webkit-keyframes puff-in-br {
0% {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  opacity: 0;
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 1;
}
}
@keyframes puff-in-br {
0% {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  opacity: 0;
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 1;
}
}

.jello-vertical:hover {
-webkit-animation: jello-vertical 0.9s both;
        animation: jello-vertical 0.9s both;
}

/**
* ----------------------------------------
* animation jello-vertical
* ----------------------------------------
*/
@-webkit-keyframes jello-vertical {
0% {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
30% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
          transform: scale3d(0.75, 1.25, 1);
}
40% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
          transform: scale3d(1.25, 0.75, 1);
}
50% {
  -webkit-transform: scale3d(0.85, 1.15, 1);
          transform: scale3d(0.85, 1.15, 1);
}
65% {
  -webkit-transform: scale3d(1.05, 0.95, 1);
          transform: scale3d(1.05, 0.95, 1);
}
75% {
  -webkit-transform: scale3d(0.95, 1.05, 1);
          transform: scale3d(0.95, 1.05, 1);
}
100% {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
}
@keyframes jello-vertical {
0% {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
30% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
          transform: scale3d(0.75, 1.25, 1);
}
40% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
          transform: scale3d(1.25, 0.75, 1);
}
50% {
  -webkit-transform: scale3d(0.85, 1.15, 1);
          transform: scale3d(0.85, 1.15, 1);
}
65% {
  -webkit-transform: scale3d(1.05, 0.95, 1);
          transform: scale3d(1.05, 0.95, 1);
}
75% {
  -webkit-transform: scale3d(0.95, 1.05, 1);
          transform: scale3d(0.95, 1.05, 1);
}
100% {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
}

.tracking-in-expand-fwd {
-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/**
* ----------------------------------------
* animation tracking-in-expand-fwd
* ----------------------------------------
*/
@-webkit-keyframes tracking-in-expand-fwd {
0% {
  letter-spacing: -0.5em;
  -webkit-transform: translateZ(-700px);
          transform: translateZ(-700px);
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  opacity: 1;
}
}
@keyframes tracking-in-expand-fwd {
0% {
  letter-spacing: -0.5em;
  -webkit-transform: translateZ(-700px);
          transform: translateZ(-700px);
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  opacity: 1;
}
}




@media (max-width:480px){

  html {
    width: auto;
    height: auto;
  }

  .main-page-cont h1 {
    color: red;
    font-size: 70px;
  }

  .main-page-cont h2 {
    font-size: 20px;
    margin-bottom: 50%;
  }

  .input-container {
    display: flex;
    flex-direction: row !important;
    width: 80vw !important;
  }

  .input-container button  {
    font-size: 10px;
    overflow: hidden;
  }

  .main-page-cont p {
    display: none;
  }

  .pokedex-btn-pages {
    display: none;
  }

  .main-page-cont {
    height: 100vh;
    background: url(./assets/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;

  }

  .input-container {
    flex-direction: column;
    width: 400px;
  }

  .input-container input {
    border: none;
  }

  .input-container button {
    border: none;
  }

  .input-userLogin {
    width: 80vw;
    display: flex;
  }

  .input-userLogin input::placeholder{
    font-family: Clasic;
    font-size: 10px;
  }

  .name-container {
    width: 60px !important;
  }

  .pokedex-header img{
    width: 300px;

  }

  .pokedex-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pokedex-grid-container {
    grid-template-columns: repeat(2,1fr);
    padding: 3%;
  }

  .pokemon-detail-cont {
    grid-template-columns: repeat(1,1fr);
    width: fit-content;
  }

  .pokemon-card-stats {
    display: none;
  }
  
  .pokedex-btn-cont-2 {
    width: 70% !important;
  }

  .container-card {
    width: auto;
    height: auto;
  }

  .container-card h3 {
    font-size: 1rem;
  }

  .container-card img {
    width: 100%;
    height: 100%;
  }

  .types-flex {
    flex-direction: column;
  }

  .pokemon-detail-cont {
    grid-template-columns: auto;
    padding: 0;
  }

  .pokemon-detail-card {

    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .pokemon-moves {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  

  .pokeball {
    display: none;
}

@media (max-width:960px){

  }


@media (min-width:1025px){
  


  .name-container h1 {
    font-family: Pokemon-hollow;
    font-size: 10rem;
    margin: 0;
  }



  .name-container {
    margin-bottom: 100px;
  }



}
}